@use '../../assets/css/border.scss' as *;
@use '../../assets/css/color.scss' as *;
@use '../../assets/css/spacing.scss' as *;

$myFont: "Plus Jakarta Sans", sans-serif;
$myColor: red;
$myFontSize: 20px;
$myWidth: 680px;
$bgColor:#fff;

body {
  font-family: $myFont;
  font-size: $myFontSize;
  color: $myColor;
  background-color: $bgColor;
  margin: 0;
  padding: 0;
}

.alerts-main-bx{
  margin: $Spacing-12 0;
   display: flex;
   gap: 10px;
}

.alerts-main-bx-full-width{
  flex-flow: column;
}

.common-heading-bx{
  padding: $Spacing-64;
  background: linear-gradient(90deg, rgb(223, 224, 255) 0%, rgb(255, 236, 254) 50%);
   border-radius: 32px;
   margin-bottom: 60px;
}
.common-heading-bx h1{
  color: #272E35;
  margin: 0;
  font-weight: 400;
  font-size: 48px;
  line-height: 72px;
}
.common-heading-bx p{
  color: #4A545E;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  margin: 0;
}
.container{
  width: calc(100% - 62px);
  padding: 32px;
}

.sub-heading {
  font-size: 24px !important;
  font-weight: 600 !important;
  color: #000 !important;
  margin:24px 0 !important;
  line-height: 26px !important;
}

.sub-heading-bottom-text{
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  color: #555F6D;
  margin:12px 0 !important;
}

.avatar-border-main-bx{
  display: flex;
}

.avatar-border-bx{
   border: $Border-width-1 $Border-Style-dashed #9747FF;
   padding: $Spacing-20;
   border-radius: 10px;
   margin: 0 2px;
}

.avatar-border-bx{
   .avatar-bx{
      margin-bottom: $Spacing-8;
   }
   .avatar-bx-name {
    margin-bottom: $Spacing-12;
  }
}

.avatar-sub-bx{
   display: flex;
  padding: 0 20px;
}

.mt-80{
  margin-top: 80px !important;
}

.Breadcrum-border-main-bx{
  display: flex;
  gap: 10px;
}

.Buttons-border-main-bx{
  display: flex;
}

.badge-border-main-bx{
  display: flex;
  gap: 10px;
}

.badge-border-main-bx{
  display: flex;
  gap: 10px;
}


.badge-border-main-bx{
  display: flex;
  gap: 10px;
}


.badge-border-main-bx{
  display: flex;
  gap: 10px;
}


.toast-main-bx{
  display: flex;
  gap: 10px;
}

.toast-main-bx{
  display: flex;
  gap: 10px;
}

.toast-main-bx{
  display: flex;
  gap: 10px;
}

.toast-main-bx{
  display: flex;
  gap: 10px;
}

.toast-main-bx{
  display: flex;
  gap: 10px;
}

.badge-border-main-bx{
  display: flex;
  gap: 10px;
}

.loader-main-bx{
  display: flex;
  gap: 10px;
}

.accordion-main-bx .accordion{
  max-width: 500px; 
 }

 .linear-progress-sec{
  padding: $Spacing-20;
}


.linear-progress-sec{
  padding: $Spacing-20;
}
