@use '../../assets/css/color.scss' as *;
@use '../../assets/css/font.scss' as *;
@use '../../assets/css/spacing.scss' as *;
@use '../../assets/css/border.scss' as *;

.progress{
  width: 300px;
  height: 6px;
  border-radius: $Radius-32 ;
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  overflow: hidden;

  .progress-bar{
    background-color: $Cool-shade-c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
  }
}


.steps-progress-bx{
  background: transparent;
  display: block;
  height: auto;
  border-radius: 0;


  .steps-progress-count span{
    color:#087112;
  }
}

.steps-progress-count{
  font-size: 12px;
  line-height: 16px;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 5px;
  display: flex;
  align-items: center;

  img{
    margin-right: $Spacing-4;
  }
}

.steps-progress{
  width: 300px;
  height: 6px;
  border-radius: $Radius-32 ;
  display: flex;
  overflow: hidden;
  .progress-step{
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    border-radius: $Radius-32 ;
    margin: 0 $Spacing-2;
    overflow: hidden;
  }
  .progress-step{
     .progress-bar{
      background-color: #087112;
      width: 100%;
      height: 100%;
     }
  }
  .progress-step:first-child{
    margin-left: 0;
  }
  .progress-step:last-child{
    margin-right: 0;
  }
 
}

.progress-level{
  width: 300px;
  .progress-bar{
    background-color:#CFDC00;
  }

  .lavel-step::after{
    width: 2px;
    background-color: #026466;
    height: 4px;
    border-radius: 4px;
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0 auto;
  }
  .lavel-step span{
    color: rgba(0, 0, 0, 0.7);
    font-size: 12px;
    line-height: 14px;
    padding: 4px;
  }
  .level-bx{
    display: flex;
    .lavel-step{
      width: 100%;
      text-align: center;
      padding-bottom: 25px;
      position: relative;
    }
    .lavel-step.lavel-active span{
      background-color:#CFDC00;
      border-radius: 4px;
      font-weight: 600;
      position: relative;
    }
    .lavel-step.lavel-active span::after{
      background-image: url('data:image/svg+xml,%3Csvg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M6.29904 8.75C5.72169 9.75 4.27831 9.75 3.70096 8.75L0.236859 2.75C-0.340491 1.75 0.381197 0.500001 1.5359 0.500001L8.4641 0.5C9.6188 0.5 10.3405 1.75 9.76314 2.75L6.29904 8.75Z" fill="%23CFDC00"/%3E%3C/svg%3E');
      background-size: 12px;
      content: "";
      position: absolute;
      width: 12px;
      left: 0;
      top: 17px;
      height: 12px;
      background-repeat: no-repeat;
      right: 0;
      margin: 0 auto;
      }
    }
}


.upload-progress-text{
  font-size: 16px;
  line-height: 22px;
  color: #171D25;
  margin: 0 0 8px;
}

.upload-progress-failed .upload-progress-text{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.upload-progress-failed .upload-progress-text span{
  color: #E11313;
}
.steps-progress-count span{
  padding-right: 3px;
}

.upload-progress-failed  .progress-bar-failed{
  background-color:#E11313 !important; 
}

.steps-progress-number{
  border-bottom:4px dotted rgba(0, 0, 0, 0.1);
  max-width: 300px;
}

.steps-progress-number .steps-progress-number-bx{
  display: flex;
  align-items: center;
  margin-bottom: -15px;
}

.steps-progress-number .steps-progress-number-bx .step-bx{
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.steps-progress-number .steps-progress-number-bx .step-bx img{
  width: 19px;
  height: 19px;
}

.steps-progress-number .steps-progress-number-bx .step-bx span{
  width: 24px;
  height: 24px;
  text-align: center;
  border: 1px solid #D9D9D9;
  border-radius: $Radius-24;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.8);
  line-height: 24px;
  background-color: #FFF;
}

.progress-with-title{
  width: 300px;
}
.progress-with-title .progress-title{
  display: flex;
  justify-content: space-between;
  margin-bottom: 4px;
  align-items: center;
}
.progress-with-title .progress-title span{
font-size: 14px;
font-weight: 500;
line-height: 22px;
color:#1A1A1A;
}

.progress-with-title .progress-info .progress-info-inner{
  display: flex;
  margin-top: 2px;
}
.progress-with-title .progress-info .progress-info-inner div{
  margin-right: 10px;
}
.progress-with-title .progress-info .progress-info-inner .dot{
  background-color: rgba(0, 0, 0, 0.2);
  width: 8px;
  height: 8px;
  border-radius: 8px;
  display: inline-block;
}
.progress-with-title .progress-info .progress-info-inner .label{
  color: rgba(0, 0, 0, 0.7);
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  margin-left: 4px;
}
.progress-with-title .progress-info .progress-info-inner .value{
  color: rgba(0, 0, 0, 0.5);
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  margin-left: 4px;
}
.dot-warning, .progress-warning .progress-bar{
  background-color: #FFC82C !important;
}

.text-show-progress{
  background-color:#ECFDF3;
  padding: 2px 4px;
  color: #087112 !important;
  border-radius: 12px;
  font-weight: bold !important;
  font-size: 12px !important;
  margin-bottom: 5px;
}

.progress-with-title .bottom-text{
  color:rgba(0, 0, 0, 0.5); 
  font-size: 12px;
  line-height: 16px;
}

.progress-center .progress{
  justify-content: center;
}

.progress-error .text-show-progress{
  background-color: #FEF3F2 !important;
  color: #E11313 !important;
}
.upload-progress-right-value .bottom-text{
  display: flex;
  justify-content: flex-end;
  margin-top: 4px;
  color: #000;
}
.progress-success .progress-bar{
  background-color: #087112 !important;
}
